@font-face{
	font-family: PressGothic;
	src: local('PressGothic'), url(./fonts/PressGothic.otf)format('truetype');
}

@media only screen and (max-resolution: 100dpi){
	html{
		letter-spacing: .025em;
	}
	#toggleButton{
		letter-spacing: .025em !important;
	}
	#aboutMessage{
		font-size: 20px;
	}
	.shownQuote{
		font-size: 22px !important;
	}
	.Countdown-col-element{
		font-size: 20px !important;
	}
	.Countdown-col-element strong{
		font-size: 55px !important;
	}
	#aboutMessage{
		letter-spacing: .025em;
	}

}

html {
	overflow: hidden;
	height: 100%;
	width: 100%;
	text-shadow: 0 0 .01em black;

}

body {
  margin: 0;
  padding: 0;
  font-family: PressGothic;
  
  background-color: black;
}

.App{
	display: flex;
	align-items: center;
	justify-content: center;
  	height: 100%;
	width: 100%;
	position: absolute;
	background-size: cover;
}

#backgroundImage{
	background-image: url('images/ellieBackgroundGradient1080p.png');
	width: 100%;
	height: 100%;
	position: absolute;
	background-size: cover;
	z-index: -1;
	filter: brightness(1.25);
}

.backgroundImageBlur{
	filter: blur(2px) !important;
	-webkit-filter: blur(2px);
	opacity: 1;
	height: 100%;
	width: 100%;
	z-index: -1;
	transition-timing-function: opacity .65s ease;
	-webkit-transition-timing-function: opacity .65s ease;
}

#toggleButton{
	font-family: PressGothic;
	font-size: 20px;
	z-index: 999;
	position: absolute;
	top: 30px;
	right: 170px;
	color: #A9A9A9;
	background-color: transparent;
	border: none;
	text-decoration: none;
	font-weight: normal;
	outline: none;
	cursor: pointer;
	animation: buttonFadeIn ease 4s;
	animation-iteration-count: 1;
}

#toggleButton:hover{
	color: #FFBF00;
}

.buttonIsSelected{
	color: #FFBF00 !important;
}

#preorderLink a{
	font-family: PressGothic;
	font-size: 20px;
	z-index: 999;
	position: absolute;
	top: 31px;
	right: 70px;
	color: #A9A9A9;
	background-color: transparent;
	border: none;
	text-decoration: none;
	outline: none;
	font-weight: normal;
	animation: buttonFadeIn ease 4s;
	animation-iteration-count: 1;
}

a:visited{
	color: white;
}

#preorderLink a:hover{
	color: #FFBF00;
}

.aboutOverlayContainer{
	display: flex;
	height: 100%;
	width: 100%;
	align-items: center;
	justify-content: center;
}

.aboutPreload{
	opacity: 0 !important;
}

.aboutOverlay{
	display: inline-block;
	background: black;
	opacity: .5;
	position: absolute;
	height: 100%;
	width: 100%;
	background-size: cover;
	z-index: 98;
	animation: aboutFadeIn ease .65s;
	animation-iteration-count: 1;
}

.noAboutOverlay{
	background-color: black;
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-size: cover;
	z-index: 99;
	animation: aboutFadeOut ease .5s;
	animation-iteration-count: 1;
	text-align: center;
}

.aboutCenterMessage{
	background: black;
	display: inline-block;
	opacity: .75;
	color: white;
	font-size: 18px;
	position: absolute;
	height: 65%;
	width: 25%;
	z-index: 99;
	box-shadow: 0px 0px 50px 50px black;
	animation: aboutCenterMessageFadeIn ease .65s;
	animation-iteration-count: 1;
	transition: outline 2s linear;

}

.noAboutCenterMessage{
	background: black;
	display: inline-block;
	opacity: 0;
	color: white;
	position: absolute;
	height: 65%;
	width: 25%;
	z-index: 99;
	box-shadow: 0px 0px 50px 50px black;
	animation: aboutCenterMessageFadeOut ease .5s;
	animation-iteration-count: 1;

}

#aboutMessage{
	position: absolute;
	line-height: 1.5;
	padding: 5px;
	animation: slideUpFadeInMessage ease .65s;
}

#aboutMessageTitle{
	text-align: center;
	animation: slideUpFadeInMessage ease .65s;
}

#particleEffect{
	top: 50%;
	left: 50%;
	position: fixed;
	min-height: 100%;
	min-width: 100%;
	height: auto;
	width: auto;
	transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	background-size: cover;
	mix-blend-mode: screen;
	opacity: .35;
}

.countdownTimer{
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

.Countdown{
  color: white;
  text-align: center;
  display: inline-block;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  animation: slide-up-fade-in ease 4s;
  animation-iteration-count: 1;
  animation-fill-mode:forwards; 
  opacity:0;
}

.Countdown-col{
  display: inline-block;
  align-items: center;
}

.Countdown-col-element{
  display: inline-block;
  margin: 0 20px;
  display: flex;
  flex-direction: column;
}

.Countdown-col-element strong{
  font-size: 50px;
  font-weight: normal;
  width: 34px;
}

.Countdown-col-darken{
	filter: brightness(.5);
	transition: filter .65s;
}

.quoteContainer {
	text-shadow: 0 0 1px black;
	display: flex;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	align-items: center;
	justify-content: center;
}

.shownQuote{
	color: white;
	font-size: 20px;
	display: inline-block;
	font-weight: normal;
	margin-top: 15%;
	animation: quoteAppearQuoteDisappear ease 9s;
	animation-iteration-count: infinite;

}

.quote-container-darken{
	filter: brightness(.5);
	transition: filter .65s;
}

.logo{
	content: url('images/tlouiiwidelogo.png');
	height: 20%;
	position: absolute;
	padding-bottom: 6%;
	display: inline-block;
	animation: slide-up-fade-out ease 4s;
	animation-iteration-count: 1;
	animation-fill-mode:forwards;
	opacity: 0;
}

.blackOverlay{
	background: black;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: fixed;
	animation: fadeBlackOverlay ease 1.5s;
  	animation-iteration-count: 1;
  	animation-fill-mode:forwards; 
	opacity: 1;
}

@keyframes slide-up-fade-out{
	0% {
		opacity: 0;
		transform: translate(0px, 20px);
		-webkit-transform: translate(0px, 20px);
	}
	23% {
		opacity: 1;

	}
	40% {
		opacity: 1;
		transform: translate(0px, 40px);
		-webkit-transform: translate(0px, 40px);
	}
	60% {
		opacity: 1;
		transform: translate(0px, 40px);
		-webkit-transform: translate(0px, 40px);
	}
	80% {
		opacity: 0;
	}
	100% {
		opacity: 0;
		transform: translate(0px, 0px);
		-webkit-transform: translate(0px, 0px);
	}
}

@keyframes slide-up-fade-in{
    0% {
        opacity:0;
    }
    70% {
    	opacity: 0;
    	transform: translate(0px, 40px);
    	-webkit-transform: translate(0px, 40px);
    }
    100% {
        opacity:1;
        transform:  translate(0px,0px);
        -webkit-transform: translate(0px, 0px);
    }
}

@keyframes fadeBlackOverlay{
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes aboutFadeIn{
	0% {
		opacity: 0;
	}
	100%{
		opacity: .5;
	}
}

@keyframes aboutCenterMessageFadeIn{
	0%{
		opacity: 0;
	}
	100%{
		opacity: .75;
	}
}

@keyframes aboutFadeOut{
	0% {
		opacity: .5;
	}
	100%{
		opacity: 0;
	}
}

@keyframes aboutCenterMessageFadeOut{
	0% {
		opacity: .75;
	}
	100% {
		opacity: 0;
	}
}

@keyframes slideUpFadeInMessage{
	0% {
		opacity: 0;
		transform: translate(0px, 30px);
    	-webkit-transform: translate(0px, 30px);
	}
	100% {
		opacity: 1;
	}
}

@keyframes buttonFadeIn{
	0% {
        opacity:0;
    }
    70% {
    	opacity: 0;
    	transform: translate(20px, 0px);
    	-webkit-transform: translate(20px, 0px);
    }
    100% {
        opacity:1;
        transform:  translate(0px,0px);
        -webkit-transform: translate(0px, 0px);
    }
}

@keyframes quoteAppearQuoteDisappear{
	0%{
		opacity: 0;
	}
	15%{
		opacity: 0;
	}
	25%{
		opacity: 1;
	}
	75%{
		opacity: 1;
	}
	85%{
		opacity: 0;
	}
	100%{
		opacity: 0;
	}
}




