@font-face{
	font-family: PressGothic;
	src: local('PressGothic'), url(./fonts/PressGothic.otf)format('truetype');
}

html {
	overflow: hidden;
	margin: 0;
	height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-align: center;
}

#backgroundImage{
	background-image: url('images/ellieBackground.png');
	width: 100%;
	height: 100%;
	position: absolute;
	background-size: cover;
	z-index: -1;
	filter: brightness(1.25);
}

.backgroundImageBlur{
	filter: blur(2px) !important;
	-webkit-filter: blur(8px);
	height: 100%;
	width: 100%;
	z-index: -1
}

#toggleButton{
	font-size: 20px;
	z-index: 999;
	position: absolute;
	top: 10px;
	right: 10px;
	color: white;
	font-family: PressGothic;
	background-color: transparent;
	border: none;
	text-decoration: none;
	outline: none;
}

.aboutOverlay{
	background: black;
	opacity: .5;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-size: cover;
	z-index: 98;
	animation: aboutFadeIn ease .65s;
	animation-iteration-count: 1;
	text-align: center;
}

.aboutCenterMessage{
	background: black;
	display: inline-block;
	opacity: .75;
	color: white;
	position: absolute;
	height: 65%;
	width: 25%;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	z-index: 99;
	box-shadow: 0px 0px 50px 50px black;
	animation: aboutCenterMessageFadeIn ease .65s;
	animation-iteration-count: 1;

}

.noAboutOverlay{
	background-color: black;
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-size: cover;
	z-index: 99;
	animation: aboutFadeOut ease .65s;
	animation-iteration-count: 1;
	text-align: center;
}

.noAboutCenterMessage{
	background: black;
	display: inline-block;
	opacity: 0;
	color: white;
	position: absolute;
	height: 65%;
	width: 25%;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	z-index: 98;
	box-shadow: 0px 0px 50px 50px black;
	animation: aboutCenterMessageFadeOut ease .65s;
	animation-iteration-count: 1;

}

#aboutMessage{
	position: relative;
	line-height: 1.5;
	height: 100%;
	width: 75%;
	top: 50%;
	left: 50%;
	font-family: PressGothic;
	transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
}

#aboutMessageTitle{
	font-family: PressGothic;
}


#particleEffect{
	top: 50%;
	left: 50%;
	position: fixed;
	min-height: 100%;
	min-width: 100%;
	height: auto;
	width: auto;
	transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	background-size: cover;
	opacity: .15;
	filter: brightness(1.25);
}

.Countdown{
  margin: -5% auto;
  position: absolute;
  left: 40%;
  color: white;
  font-family: PressGothic;
  animation: slide-up-fade-in ease 4s;
  animation-iteration-count: 1;
  animation-fill-mode:forwards; 
  opacity:0;
  opacity: 1\9;

}

.Countdown-col{
  display: inline-block;
}

.Countdown-col-element{
  display: inline-block;
  margin: 0 20px;
  display: flex;
  flex-direction: column;
}

.Countdown-col-element strong{
  font-size: 50px;
  font-weight: normal;
}

.quotesShow {
	color: white;
	font-family: PressGothic;
	animation: slideRightFadeIn ease 4s;
	animation-iteration-count: 1;
	opacity: 0;
}

.quotesHide {
	color: white;
	font-family: PressGothic;
	animation: slideRightFadeOut ease 4s;
	animation-iteration-count: 1;
	opacity: 1;
}

.logo{
	content: url('images/tlouiiwidelogo.png');
	height: 20%;
	position: relative;
	display: inline-block;
	margin-top: 18%;
	animation: slide-up-fade-out ease 4s;
	animation-iteration-count: 1;
	animation-fill-mode:forwards;
	opacity: 0;
	opacity: 1\9;
}

.blackOverlay{
	background: black;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: fixed;
	animation: fadeBlackOverlay ease 1.5s;
  	animation-iteration-count: 1;
  	animation-fill-mode:forwards; 
	opacity: 1;
}

@keyframes slide-up-fade-out{
	0% {
		opacity: 0;
		transform: translate(0px, 20px);
		-webkit-transform: translate(0px, 20px);
	}
	23% {
		opacity: 1;

	}
	40% {
		opacity: 1;
		transform: translate(0px, 40px);
		-webkit-transform: translate(0px, 40px);
	}
	60% {
		opacity: 1;
		transform: translate(0px, 40px);
		-webkit-transform: translate(0px, 40px);
	}
	80% {
		opacity: 0;
	}
	100% {
		opacity: 0;
		transform: translate(0px, 0px);
		-webkit-transform: translate(0px, 0px);
	}
}

@keyframes slide-up-fade-in{
    0% {
        opacity:0;
    }
    70% {
    	opacity: 0;
    	transform: translate(0px, 40px);
    	-webkit-transform: translate(0px, 40px);
    }
    100% {
        opacity:1;
        transform:  translate(0px,0px);
        -webkit-transform: translate(0px, 0px);
    }
}

@keyframes fadeBlackOverlay{
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes slideLeftFadeIn{
	0% {
		opacity: 0;
		transform: translateX(-20px);
	}
	100% {
		opacity: 1;
	}
}

@keyframes slideRightFadeOut{
	0% {
		opacity: 1;
		transform: translateX(-20px);
	}
	100% {
		opacity: 0;
	}
}

@keyframes aboutFadeIn{
	0% {
		opacity: 0;
	}
	100%{
		opacity: .5;
	}
}

@keyframes aboutCenterMessageFadeIn{
	0%{
		opacity: 0;
	}
	100%{
		opacity: .75;
	}
}

@keyframes aboutFadeOut{
	0% {
		opacity: .5;
	}
	100%{
		opacity: 0;
	}
}

@keyframes aboutCenterMessageFadeOut{
	0%{
		opacity: .75;
	}
	100%{
		opacity: 0;
	}
}




